<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Информация по книге</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header" th:text="${book.authors[0].name} + ' / ' +  ${book.isbn}">
            Александр Пушкин
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${book.title}">Вечера на хуторе близ диканьки</h5>
            <p class="card-text" th:text="${#strings.arrayJoin(book.genreTitles(), ', ')}">Фантастика, публицистика.</p>
            <a href="#" th:href="@{/books/{id}/edit(id=${book.isbn})}" class="btn btn-primary">Редактировать</a>
            <a href="#" th:href="@{/books/{id}/delete(id=${book.isbn})}" class="btn btn-danger">Удалить из
                библиотеки</a>
        </div>
    </div>
    <div class="card" th:if="${book.comments != null && book.comments.size() > 0}">
        <div class="card-header">
            Комментарии
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li class="media mt-3" th:each="comment: ${book.comments}">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" th:text="${#dates.format(comment.time, 'dd MMM YYYY HH:mm:ss')}">List-based media object</h5>
                        <span th:text="${comment.text}">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="/" th:action="@{/books/{id}/comment/add(id=${book.isbn})}" method="post">
                <div class="form-group">
                    <label for="text">Текст комментария</label>
                    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Отправить комментарий</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>