<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Информация по книге</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header" th:text="${book.authors.size() > 0 ? book.authors[0].name : ''} + ' / ' +  ${book.title}">
            Александр Пушкин
        </div>
        <div class="card-body">
            <form action="/" th:action="@{/books/{id}/save(id=${id})}" method="post">
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control"
                           th:class="'form-control ' + (${result != null && result.hasFieldErrors('isbn')} ? 'is-invalid' : '')"
                           id="isbn"
                           name="isbn"
                           placeholder="99348602-0348643" th:value="${book.isbn}"/>
                </div>
                <div class="form-group">
                    <label for="authors">Автор(ы)</label>
                    <select multiple class="form-control" id="authors" name="authors"
                            th:class="'form-control ' + (${result != null && result.hasFieldErrors('authors')} ? 'is-invalid' : '')"
                    >
                        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"
                                th:selected="${#arrays.contains(book.authors, author)}">Александр Пушкин
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genres">Жанр(ы)</label>
                    <select multiple class="form-control" id="genres" name="genres"
                            th:class="'form-control ' + (${result != null && result.hasFieldErrors('genres')} ? 'is-invalid' : '')"
                        >
                        <option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.title}"
                                th:selected="${#arrays.contains(book.genres, genre)}">Классическая проза
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Название книги</label>
                    <input th:value="${book.title}" id="title" name="title" class="form-control" type="text"
                           th:class="'form-control ' + (${result != null && result.hasFieldErrors('title')} ? 'is-invalid' : '')"
                           placeholder="Вечера на хуторе близ диканьки">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>